<a href="https://colab.research.google.com/github/zubairfazalkhan/14-12-lab/blob/master/Covid.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [22]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [4]:
df = pd.read_csv('owid-covid-data.csv')

In [5]:
df.head()

  iso_code continent  ... human_development_index excess_mortality
0      AFG      Asia  ...                   0.511              NaN
1      AFG      Asia  ...                   0.511              NaN
2      AFG      Asia  ...                   0.511              NaN
3      AFG      Asia  ...                   0.511              NaN
4      AFG      Asia  ...                   0.511              NaN

[5 rows x 60 columns]

# EDA

In [6]:
df.shape

(39826, 60)

In [7]:
df.columns

Index(['iso_code', 'continent', 'location', 'date', 'total_cases', 'new_cases',
       'new_cases_smoothed', 'total_deaths', 'new_deaths',
       'new_deaths_smoothed', 'total_cases_per_million',
       'new_cases_per_million', 'new_cases_smoothed_per_million',
       'total_deaths_per_million', 'new_deaths_per_million',
       'new_deaths_smoothed_per_million', 'reproduction_rate', 'icu_patients',
       'icu_patients_per_million', 'hosp_patients',
       'hosp_patients_per_million', 'weekly_icu_admissions',
       'weekly_icu_admissions_per_million', 'weekly_hosp_admissions',
       'weekly_hosp_admissions_per_million', 'new_tests', 'total_tests',
       'total_tests_per_thousand', 'new_tests_per_thousand',
       'new_tests_smoothed', 'new_tests_smoothed_per_thousand',
       'positive_rate', 'tests_per_case', 'tests_units', 'total_vaccinations',
       'people_vaccinated', 'people_fully_vaccinated', 'new_vaccinations',
       'new_vaccinations_smoothed', 'total_vaccinations_per_hundred',
       'people_vaccinated_per_hundred', 'people_fully_vaccinated_per_hundred',
       'new_vaccinations_smoothed_per_million', 'stringency_index',
       'population', 'population_density', 'median_age', 'aged_65_older',
       'aged_70_older', 'gdp_per_capita', 'extreme_poverty',
       'cardiovasc_death_rate', 'diabetes_prevalence', 'female_smokers',
       'male_smokers', 'handwashing_facilities', 'hospital_beds_per_thousand',
       'life_expectancy', 'human_development_index', 'excess_mortality'],
      dtype='object')

In [39]:
df.isnull().sum()

iso_code                                     0
continent                                 2216
location                                     0
date                                         0
total_cases                               2005
new_cases                                 2004
new_cases_smoothed                        2372
total_deaths                              5205
new_deaths                                5137
new_deaths_smoothed                       2372
total_cases_per_million                   2005
new_cases_per_million                     2004
new_cases_smoothed_per_million            2372
total_deaths_per_million                  5205
new_deaths_per_million                    5137
new_deaths_smoothed_per_million           2372
reproduction_rate                         7945
icu_patients                             34284
icu_patients_per_million                 34284
hosp_patients                            34616
hosp_patients_per_million                34616
weekly_icu_admissions                    39490
weekly_icu_admissions_per_million        39490
weekly_hosp_admissions                   39178
weekly_hosp_admissions_per_million       39178
new_tests                                24002
total_tests                              24677
total_tests_per_thousand                 24677
new_tests_per_thousand                   24002
new_tests_smoothed                       21280
new_tests_smoothed_per_thousand          21280
positive_rate                            22416
tests_per_case                           22684
tests_units                              20542
total_vaccinations                       32163
people_vaccinated                        32446
people_fully_vaccinated                  33614
new_vaccinations                         33504
new_vaccinations_smoothed                26378
total_vaccinations_per_hundred           32164
people_vaccinated_per_hundred            32447
people_fully_vaccinated_per_hundred      33615
new_vaccinations_smoothed_per_million    26378
stringency_index                          6408
population                                   1
population_density                        2512
median_age                                4589
aged_65_older                             4589
aged_70_older                             4589
gdp_per_capita                            4484
extreme_poverty                          17442
cardiovasc_death_rate                     3613
diabetes_prevalence                       2895
female_smokers                           12578
male_smokers                             12578
handwashing_facilities                   21964
hospital_beds_per_thousand                7057
life_expectancy                           2217
human_development_index                   4003
excess_mortality                         38412
dtype: int64

##Starting and Ending Date of Data

In [17]:
Starting= df['date'].min()
Ending= df['date'].max()
txt = "Covid data is starting from {} and Ending on {} "
print(txt.format(Starting,Ending))
#(year,Month,Day)

Covid data is starting from 2020-01-01 and Ending on 2021-08-03

In [24]:
df.describe()

        total_cases      new_cases  ...  human_development_index  excess_mortality
count  3.782100e+04   37822.000000  ...             35823.000000       1414.000000
mean   1.049072e+06    5615.440564  ...                 0.724684         17.729151
std    5.093456e+06   27155.274995  ...                 0.151334         31.285329
min    1.000000e+00  -46076.000000  ...                 0.397000        -44.950000
25%    1.795000e+03       2.000000  ...                 0.594000          1.442500
50%    1.806000e+04      83.000000  ...                 0.759000          7.825000
75%    1.645860e+05     822.000000  ...                 0.845000         24.480000
max    6.273664e+07  525129.000000  ...                 0.947000        410.330000

[8 rows x 55 columns]

In [47]:
df['location'].unique()

array(['Afghanistan', 'Africa', 'Albania', 'Algeria', 'Andorra', 'Angola',
       'Anguilla', 'Antigua and Barbuda', 'Argentina', 'Armenia', 'Aruba',
       'Asia', 'Australia', 'Austria', 'Azerbaijan', 'Bahamas', 'Bahrain',
       'Bangladesh', 'Barbados', 'Belarus', 'Belgium', 'Belize', 'Benin',
       'Bermuda', 'Bhutan', 'Bolivia', 'Bonaire Sint Eustatius and Saba',
       'Bosnia and Herzegovina', 'Botswana', 'Brazil',
       'British Virgin Islands', 'Brunei', 'Bulgaria', 'Burkina Faso',
       'Burundi', 'Cambodia', 'Cameroon', 'Canada', 'Cape Verde',
       'Cayman Islands', 'Central African Republic', 'Chad', 'Chile',
       'China', 'Colombia', 'Comoros', 'Congo', 'Cook Islands',
       'Costa Rica', "Cote d'Ivoire", 'Croatia', 'Cuba', 'Curacao',
       'Cyprus', 'Czechia', 'Democratic Republic of Congo', 'Denmark',
       'Djibouti', 'Dominica', 'Dominican Republic', 'Ecuador', 'Egypt',
       'El Salvador', 'Equatorial Guinea', 'Eritrea', 'Estonia',
       'Eswatini', 'Ethiopia', 'Europe', 'European Union',
       'Faeroe Islands', 'Falkland Islands', 'Fiji', 'Finland', 'France',
       'French Polynesia', 'Gabon', 'Gambia', 'Georgia', 'Germany',
       'Ghana', 'Gibraltar', 'Greece', 'Greenland', 'Grenada',
       'Guatemala'], dtype=object)

In [25]:
df1 = pd.read_csv('country_vaccinations.csv')

In [26]:
df1.head()

       country iso_code  ...                source_name            source_website
0  Afghanistan      AFG  ...  World Health Organization  https://covid19.who.int/
1  Afghanistan      AFG  ...  World Health Organization  https://covid19.who.int/
2  Afghanistan      AFG  ...  World Health Organization  https://covid19.who.int/
3  Afghanistan      AFG  ...  World Health Organization  https://covid19.who.int/
4  Afghanistan      AFG  ...  World Health Organization  https://covid19.who.int/

[5 rows x 15 columns]

In [27]:
df1.shape

(10824, 15)

In [28]:
df1.columns

Index(['country', 'iso_code', 'date', 'total_vaccinations',
       'people_vaccinated', 'people_fully_vaccinated',
       'daily_vaccinations_raw', 'daily_vaccinations',
       'total_vaccinations_per_hundred', 'people_vaccinated_per_hundred',
       'people_fully_vaccinated_per_hundred', 'daily_vaccinations_per_million',
       'vaccines', 'source_name', 'source_website'],
      dtype='object')

In [31]:
start = df1['date'].min()
end = df1['date'].max()
txt1 = "This Data is from {} to {}"
print(txt1.format(start,end))
#(Year, Month, Day)

This Data is from 2020-12-08 to 2021-08-01

In [33]:
df1.isnull().sum()

country                                   0
iso_code                                  0
date                                      0
total_vaccinations                     4936
people_vaccinated                      5218
people_fully_vaccinated                6223
daily_vaccinations_raw                 6055
daily_vaccinations                       82
total_vaccinations_per_hundred         4936
people_vaccinated_per_hundred          5218
people_fully_vaccinated_per_hundred    6223
daily_vaccinations_per_million           82
vaccines                                  0
source_name                               0
source_website                            0
dtype: int64

###Filled data with zero

In [36]:
df1.fillna(0, inplace=True)

In [38]:
df1

           country  ...                                     source_website
0      Afghanistan  ...                           https://covid19.who.int/
1      Afghanistan  ...                           https://covid19.who.int/
2      Afghanistan  ...                           https://covid19.who.int/
3      Afghanistan  ...                           https://covid19.who.int/
4      Afghanistan  ...                           https://covid19.who.int/
...            ...  ...                                                ...
10819       France  ...  https://www.data.gouv.fr/fr/datasets/donnees-r...
10820       France  ...  https://www.data.gouv.fr/fr/datasets/donnees-r...
10821       France  ...  https://www.data.gouv.fr/fr/datasets/donnees-r...
10822       France  ...  https://www.data.gouv.fr/fr/datasets/donnees-r...
10823       France  ...  https://www.data.gouv.fr/fr/datasets/donnees-r...

[10824 rows x 15 columns]

In [37]:
df1.isnull().sum()

country                                0
iso_code                               0
date                                   0
total_vaccinations                     0
people_vaccinated                      0
people_fully_vaccinated                0
daily_vaccinations_raw                 0
daily_vaccinations                     0
total_vaccinations_per_hundred         0
people_vaccinated_per_hundred          0
people_fully_vaccinated_per_hundred    0
daily_vaccinations_per_million         0
vaccines                               0
source_name                            0
source_website                         0
dtype: int64

In [46]:
df1['country'].unique()

array(['Afghanistan', 'Albania', 'Algeria', 'Andorra', 'Angola',
       'Anguilla', 'Antigua and Barbuda', 'Argentina', 'Armenia', 'Aruba',
       'Australia', 'Austria', 'Azerbaijan', 'Bahamas', 'Bahrain',
       'Bangladesh', 'Barbados', 'Belarus', 'Belgium', 'Belize', 'Benin',
       'Bermuda', 'Bhutan', 'Bolivia', 'Bonaire Sint Eustatius and Saba',
       'Bosnia and Herzegovina', 'Botswana', 'Brazil',
       'British Virgin Islands', 'Brunei', 'Bulgaria', 'Burkina Faso',
       'Cambodia', 'Cameroon', 'Canada', 'Cape Verde', 'Cayman Islands',
       'Central African Republic', 'Chad', 'Chile', 'China', 'Colombia',
       'Comoros', 'Congo', 'Cook Islands', 'Costa Rica', "Cote d'Ivoire",
       'Croatia', 'Cuba', 'Curacao', 'Cyprus', 'Czechia',
       'Democratic Republic of Congo', 'Denmark', 'Djibouti', 'Dominica',
       'Dominican Republic', 'Ecuador', 'Egypt', 'El Salvador', 'England',
       'Equatorial Guinea', 'Estonia', 'Eswatini', 'Ethiopia',
       'Faeroe Islands', 'Falkland Islands', 'Fiji', 'Finland', 'France'],
      dtype=object)

In [42]:
df2 = pd.read_csv('country_vaccinations_manufacturer.csv')

In [43]:
df2.head()

  location        date             vaccine  total_vaccinations
0  Austria  2021-01-08     Johnson&Johnson                   0
1  Austria  2021-01-08             Moderna                   0
2  Austria  2021-01-08  Oxford/AstraZeneca                   0
3  Austria  2021-01-08     Pfizer/BioNTech               31008
4  Austria  2021-01-15     Johnson&Johnson                   0

In [44]:
Start = df2['date'].min()
End = df2['date'].max()
txt2 = "Starting date of data is {} and ending date is {}"
print(txt2.format(Start,End))

Starting date of data is 2020-12-04 and ending date is 2021-08-01

In [45]:
df2['location'].unique()

array(['Austria', 'Belgium', 'Bulgaria', 'Chile', 'Croatia', 'Cyprus',
       'Czechia', 'Denmark', 'Estonia', 'Finland', 'France', 'Germany',
       'Hungary', 'Iceland', 'Ireland', 'Italy', 'Japan', 'Latvia',
       'Liechtenstein', 'Lithuania', 'Luxembourg', 'Malta', 'Netherlands',
       'Poland', 'Portugal', 'Romania', 'Slovakia', 'Slovenia', 'Spain',
       'Sweden', 'Switzerland', 'United States', 'Uruguay'], dtype=object)